/* small */
@media screen and (max-width: 576px) {
  .nav-con {
    margin-left: 16px;
    margin-right: 16px;
  }
  .list-item {
    display: none;
  }

  .banner-con {
    flex-direction: column-reverse;
  }

  .banner-title {
    font-size: 1.5rem;
    margin-left: -26px;
    margin-bottom: 13px;
  }
  .banner-discription {
    font-size: 0.875rem;
    margin-left: -26px;
  }
  .banner-img {
    margin-bottom: 28px;
  }

  .plant-title {
    font-size: 1.375rem;
  }
  .plamt-discription {
    font-size: 14px;
    max-width: 330px;
    margin: 16px auto;
  }
  .plant-card-con {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .plant-card {
    margin-top: 12px;
    width: 200px;
  }
  .card-button {
    width: 200px;
  }
  .price {
    font-size: 16px;
  }
  .card-title {
    font-size: 14px;
  }
}

/* medium */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-con {
    margin-left: 26px;
    margin-right: 26px;
  }

  .banner-con {
    flex-direction: column-reverse;
  }

  .banner-img {
    margin-bottom: 28px;
  }

  .plamt-discription {
    font-size: 14px;
    max-width: 330px;
  }
  .plant-card-con {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 26px;
    /* margin-right: 16px; */
  }
}
