/* small */
@media screen and (max-width: 576px) {
  .nav-con {
    margin-left: 16px;
    margin-right: 16px;
  }
  .list-item {
    display: none;
  }

  .banner-con {
    flex-direction: column-reverse;
    padding-top: 0;
    margin-top: -20px;
  }

  .banner-title {
    font-size: 1.5rem;
    margin-left: -26px;
    margin-bottom: 13px;
  }
  .banner-discription {
    font-size: 0.875rem;
    margin-left: -26px;
  }
  .banner-img {
    margin-bottom: 28px;
  }
.plants-con{
  margin-top: -20px;
}
  .plant-title {
    font-size: 1.375rem;
  }
  .plamt-discription {
    font-size: 14px;
    max-width: 330px;
    margin: 16px auto;
  }
  .plant-card-con {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 16px;
    margin-right: 16px;
    
  }

  .plant-card {
    margin-top: 12px;
    width: 200px;
  }
  .card-button {
    width: 200px;
  }
  .price {
    font-size: 16px;
  }
  .card-title {
    font-size: 14px;
  }

  .plant-lover-con {
    flex-direction: column;
    margin-top: -31px;
    padding: 0;
    margin-right: 17px;
    margin-left: 17px;
    gap: 18px;
  }
  .lover-main-pic {
    width: 100%;
  }
  .badge-pic {
    display: none;
  }
  .plant-lover-text {
    margin-left: -40px;
  }
  .plant-lover-title {
    font-size: 1.5rem;
  }

  .plant-lover-discription {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 50px;
  }

  .latest-deal-con {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    
    margin-bottom: 120px;
  }
  .offer-box {
    padding: 45px 100px;
  }
  .bloom {
    max-width: 100%;
    height: 148px;
  }

  .ana {
    max-width: 100%;
    height: 148px;
  }

  .latest-right {
    max-width: 100%;
  }

  .right-latest-title,
  .left-latest-title {
    font-size: 1.25rem;
  }
  .right-latest-title {
    margin-top: 40px;
    padding:0 10px;
  }
  .right-but {
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .form-con {
    margin-top: -100px;
    height: 300px;
  }
  .form-title {
    font-size: 1.25rem;
    padding-top: 100px;
  }
.banner-section{
  padding: 0;
}
  .input-button-con {
    padding: 0 20px;
  }
  .footer-con {
    grid-template-columns: 1fr;
  }
  .footer-items {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }

  .footer-icon-con {
    position: relative;
    top: 0;
    left: 0;
  }
}

/* medium */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-con {
    margin-left: 26px;
    margin-right: 26px;
  }

  .banner-con {
    flex-direction: column-reverse;
    
  }

  .banner-img {
    margin-bottom: 28px;
  }

  .plamt-discription {
    font-size: 14px;
    max-width: 330px;
    margin: 20px auto;
  }
  .plant-card-con {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 26px;
    /* margin-right: 16px; */
  }

  .plant-lover-con {
    flex-direction: column;
    margin-top: 31px;
    padding: 0;

    gap: 24px;
  }
  .lover-main-pic {
    width: 100%;
  }
  .badge-pic {
    display: none;
  }
  .plant-lover-text {
    margin-left: -40px;
  }

  .plant-lover-discription {
    font-size: 24px;
    text-align: justify;
  }
  .latest-deal-con {
    flex-direction: column;
  }

  .bloom {
    max-width: 100%;
  }

  .ana {
    max-width: 100%;
  }

  .latest-right {
    max-width: 100%;
  }

  .right-latest-title,
  .left-latest-title {
    font-size: 2.25rem;
  }
  .right-latest-title {
    margin-top: 40px;
  }
  .right-but {
    font-size: 1rem;
    margin-bottom: 50px;
  }

  .footer-con {
    grid-template-columns: 1fr;
  }
  .footer-items {
    margin-top: 30px;
    align-items: flex-start;
  }

  .footer-icon-con {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 300px;
  }
}
