* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #e95a08;
}
.primary-font {
  font-family: "Noto Serif", serif;
}
.secondary-font {
  font-family: "Inter", sans-serif;
}

/* .container {
  max-width: 1440px;
  margin: 0 auto;
} */
.container {
  /* max-width: 1440px; */
  max-width: 1440px;
  margin: auto;
  padding: 40px 20px;
}
.button-primary {
  width: 270px;
  height: 50px;
  color: white;
  background-color: var(--primary-color);
  border: none;
  font-weight: 600;
}

.colored-text {
  color: var(--primary-color);
}
.section-title {
  font-size: 3.125rem;
}
.text-center {
  text-align: center;
}
.section-discription {
  font-size: 1.375rem;
  color: #0000007e;
}
/* shared css */

/* custom css */

/* nav */
.nav-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.nav-items {
  display: flex;
  gap: 48px;
}
.nav-items a {
  color: #8987a1;
  font-weight: 700;
  transition: all 0.1s ease-out;
}
.nav-items a:hover {
  color: #252432;
}
.list-item-icon a {
  color: #252432;
  font-weight: 300;
}

/* banner */
.banner-con {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-title {
  font-size: 4.06rem;
  margin-bottom: 13px;
  font-weight: 800;
}
.banner-discription {
  font-size: 1.375rem;
  color: #0000007e;
}
.banner-img {
  width: 100%;
}

/* plant */
.plants-con {
  margin-top: 120px;
}
.plamt-discription {
  margin-bottom: 50px;
  margin-top: 16px;
}

/* plant img*/
.plant-card {
  margin-bottom: 30px;
  width: 350px;
}

.card-title {
  font-size: 1.375rem;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
.plant-card-con {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.price {
  font-weight: bolder;
  font-size: 1.375rem;
}
.card-button {
  margin-top: 30px;
  width: 350px;
}

.pic {
  width: 100%;
}
/* plant lover */
.plant-lover-con {
  position: relative;
  margin-top: 120px;
  display: flex;
  gap: 100px;
  align-items: center;
  /* justify-content: space-between; */
}
/* .plant-lover-image{
  max-width: 80%;
} */
.lover-main-pic {
  /* width: 100%; */
  width: 680px;
  height: auto;
}
.badge-pic {
  position: absolute;
  top: -150px;
  left: 430px;

  width: 420px;
  z-index: 10;
  filter: drop-shadow(2px 2px 5px #000000a9);
}
.plant-lover-text {
  flex: 1;
  max-width: 600px;
  margin-left: 40px;
}
.plant-lover-title {
  font-size: 3.125rem;
}

.plant-lover-discription {
  list-style: disc;
  margin-left: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* latest deal */

.latest-deal-con {
  display: flex;
  gap: 20px;
}
.latest-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.left-latest-title {
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  z-index: 2;
}
.latest-deal-button {
  width: 79px;
  height: 32px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid white;
  color: white;
  font-weight: 600;
  position: relative;
  z-index: 2;
}
.offer-box {
  background-size: cover;
  color: white;
  padding: 40px;
  border-radius: 8px;
  padding: 45px 40px;
  position: relative;
  overflow: hidden;
}
.left-latest-title {
  margin-top: 65px;
}
.offer-box::before {
  content: " ";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity as needed */
  z-index: 1;
}
.bloom {
  background-image: url(../img/deal-bloom.png);
  height: 180px;
}
.ana {
  background-image: url(../img/deal-ana.png);
  height: 180px;
}

.latest-right {
  flex: 2;
  background-image: url(../img/deal-zabo.png);
  background-size: cover;
  color: white;
  padding: 40px;
  border-radius: 8px;
}
.right-latest-title {
  font-size: 2.5rem;
  position: relative;
  z-index: 2;
  margin-top: 200px;
}
.right-but {
  font-size: 1.75rem;
  width: 138px;
  margin-top: 15px;
}

/* form */

.form-con {
  position: relative;
  background-image: url(../img/news-letter-bg.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  height: 550px;
  margin-bottom: 50px;
  margin-top: 120px;
}
.form-con::before {
  content: " ";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity as needed */
  z-index: 1;
}

.form-title {
  position: relative;
  font-size: 3.125rem;
  margin-bottom: 23px;
  padding-top: 200px;
  color: white;
  z-index: 6;
}
.input-button-con {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.input-box {
  height: 50px;
  width: 644px;
  padding-left: 20px;
  border: none;
  outline: none;
}
.input-box:focus {
  background-color: #e3ffd3;
}
.form-button {
  height: 50px;
  width: 186px;
  margin-left: -20px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
}

/* footer */
.footer-con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.footer-text{
  margin-top: 16px;
  width: 359px;
}
.footer-items {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 400;
}
.item {
  margin-bottom: 32px;

  font-weight: 400;
}
.item a {
  color: rgb(107, 114, 128);
  transition: all .2s ease-out .03s;
}
.item a:hover {
  color: rgb(0, 0, 0);
  border-bottom: 2px solid var(--primary-color);
  
}

.footer-icon-con {
  position: relative;
  top: -130px;
  right: -150px;
  display: flex;
  align-items: center;
  align-content: center;
  
  gap: 24px;
  transition: all .5s ease-in-out .3s;
}
.foot-icon:hover {
  
 filter: drop-shadow(2px 2px 5px #000000a9);
}
.hide{
  display: none;
}